.card {
    width: 16%;
    height: 140px;
    display: flex;
    flex-direction: column;
    border: 1px red solid;
    float: left;
    padding: 10px;
    margin: 5px;
}

 img{
   
        max-width: 70%;
        max-height: 60%;
        display: block; /* remove extra space below image */
  
}